@import "src/assets/utils/variables.scss";

.root-block {
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  background: $blue-violet;
  color: $white;
  height: 6rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.26);
  padding: 1rem 2rem;
  box-sizing: border-box;

  &__logo{
    width: 3rem;
    height: 3rem;

    &-link {
      text-decoration: none;
    }
    &-icon-block {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &-text {
      font-size: 2rem;
      margin: 0;
      font-weight: 500;
      color: $white;
      padding: 0 12px;
      text-decoration: none;
    }
  }

  a {
    text-decoration: none;
  }
}

.main {
  height: calc(100% - 10rem);
  overflow: auto;
  overflow-x: hidden;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: $blue-violet;
  color: $white;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  box-sizing: border-box;

  &__git-hub-link {
    color: inherit;
    margin-left: 1rem;
  }
}
