@import "src/assets/utils/variables";

.app-home {
  padding: 1rem;
}

button {
  background: $blue-violet;
  color: $white;
  margin: 0.8rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.6rem 2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.08);
  outline: 0;
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}
