@import "src/assets/utils/variables";
@import "src/assets/utils/mixins";
//@import "src/components/app-timer-countdown/app-timer-countdown";

.timer-page {
  width: 100%;
  height: 100%;
  background-color: #8cb4c9;
  display: flex;
  justify-content: center;
  align-items: center;


  &__choose {
    &-title {
      font-size: 3.2rem;
      line-height: 1.3em;
      margin: 0 0 3rem;
      text-align: center;
      color: $white;
    }

    &-buttons-block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    }

    &-start-button {
      @include button-default-stiles;
      padding: 0;
      background: $blue-violet;
      color: $white;

      &:hover {
        background: $violet;
      }
    }
  }
}
